<nav class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-4 restLogo" href="/">Pandaroo biz!</a>
    <div class="d-flex align-items-center">
      <a href="" class="text-decoration-none"><p
          class="me-5 mt-3 restNavbarTitle"
        >Info</p></a>
      <a href="" class="text-decoration-none"><p
          class="me-5 mt-3 restNavbarTitle"
        >Booking</p></a>
      <a href="" class="text-decoration-none"><p
          class="me-5 mt-3 restNavbarTitle"
        >Order</p></a>
      <a href="" class="text-decoration-none"><p
          class="me-5 mt-3 restNavbarTitle"
        >History</p></a>
      <a href=""><i class="fas fa-bell fa-2x mt-1 me-5 restNavbarIcon"></i></a>
      <a href=""><i
          class="fas fa-comments fa-2x mt-1 me-5 restNavbarIcon"
        ></i></a>
      <button
        class="btn-restlogout me-4 border-0 rounded"
        type="button"
      >Logout</button>
    </div>
  </div>
</nav>