<nav class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-4 restLogo" href="/info">Pandaroo biz!</a>
    <div class="d-flex align-items-center">
      <a href="/info" class="text-decoration-none"><p
          class="me-5 mt-3 restNavbarTitle"
        >Info</p></a>
      <a href="/bookings" class="text-decoration-none"><p
          class="me-5 mt-3 restNavbarTitle"
        >Booking</p></a>
      <a href="/orders" class="text-decoration-none"><p
          class="me-4 mt-3 restNavbarTitle"
        >Order</p></a>

      <div class="nav-item dropdown me-4">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          History
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/bookingshistory">Booking</a></li>
          <li><a class="dropdown-item" href="/ordershistory">Order</a></li>
        </ul>
      </div>

      <a href=""><i class="fas fa-bell fa-2x mt-1 me-5 restNavbarIcon"></i></a>
      <a href=""><i
          class="fas fa-comments fa-2x mt-1 me-5 restNavbarIcon"
        ></i></a>
      <a href="/loginbiz"><button
          class="btn-restlogout me-4 border-0 rounded"
          type="button"
        >Logout</button></a>
    </div>
  </div>
</nav>