<nav class="navbar navbar-expand-lg bg-white sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-4 userLogo" href="/">Pandaroo</a>
      <div class="d-flex align-items-center">
          <a href=""><i class="fas fa-bell fa-2x mt-1 me-5 userNavbarIcon"></i></a>
          <a href=""><i class="fas fa-comments fa-2x mt-1 me-5 userNavbarIcon"></i></a>
          <a href=""><i class="fas fa-clipboard-list fa-2x mt-1 me-5 userNavbarIcon"></i></a>
          <button class="btn-userlogout me-4 border-0 rounded" type="button">Logout</button>
      </div>
    </div>
  </div>
</nav>
