<section class="container my-5">
  <h2 class="bungee user-color">Oops, something went wrong.</h2><br /><br />
  <p class="fs-5">Please try to refresh this page.</p><br />
  <div class="my-3">
    <a
      href="/login"
      class="user-color text-decoration-none bungee fs-5 me-4 user-help-links"
    >Back To Home</a>
  </div>
</section>