<section class="container my-5">
  {{#if user}}
    <h2 class="bungee user-color">Oh No ! Page Not Found</h2><br /><br />
      <p class="fs-5">Sorry, the page you're looking for doesn't exist.</p><br />
      <p class="fs-5">Here are some helpful links instead :</p><br />
    <div class="my-3">
      <a href="/" class="user-color text-decoration-none bungee fs-5 me-4 user-help-links">Search Page</a>
      <a href="/user/order" class="user-color text-decoration-none bungee fs-5 mx-4 user-help-links">My Orders</a>
      <a href="/user" class="user-color text-decoration-none bungee fs-5 mx-4 user-help-links">My Bookings</a>
    </div>
  {{/if}}
  
  {{#if restaurant}}
    <h2 class="bungee rest-color">Oh No ! Page Not Found</h2><br /><br />
      <p class="fs-5">Sorry, the page you're looking for doesn't exist.</p><br />
      <p class="fs-5">Here are some helpful links instead :</p><br />
    <div class="my-3">
      <a href="/biz/info" class="rest-color text-decoration-none bungee fs-5 me-4 rest-help-links">Home Page</a>
      <a href="/biz/bizsetup" class="rest-color text-decoration-none bungee fs-5 mx-4 rest-help-links">Setup Page</a>
      <a href="/biz/orders" class="rest-color text-decoration-none bungee fs-5 mx-4 rest-help-links">My Orders</a>
      <a href="/biz/bookings" class="rest-color text-decoration-none bungee fs-5 mx-4 rest-help-links">My Bookings</a>
    </div>
  {{/if}}

  {{#if guest}}
  <h2 class="bungee user-color">Oh No ! Page Not Found</h2><br /><br />
      <p class="fs-5">Seems like you're lost.</p><br />
      <p class="fs-5">Please login or signup to continue :</p><br />
    <div class="my-3">
      <a href="/login" class="user-color text-decoration-none bungee fs-5 me-4 user-help-links">Non-business user</a>
      <a href="/bizlogin" class="rest-color text-decoration-none bungee fs-5 me-4 rest-help-links">Business user</a>
    </div>
  {{/if}}
</section>