<div class="container">
  <div class="row text-center mt-5">
    <i class="far fa-check-circle fa-7x mt-5" style="color: #ff6b62"></i>
    <h1 class="mt-5" style="color: #4b8494">Payment successful</h1>
    <a
      href="/order"
      class="mt-3 text-decoration-none"
      style="color: #555;"
    >Please click here to return to order page</a>
  </div>
</div>