<section id="rest-page" class="d-flex align-items-center justify-content-center">
  <div id="rest-login-signup" class="border-0 rounded-2 position-relative container">
    <div id="rest-logo">
      <h1 id="rest-title" class="text-center">PANDAROO BIZ!</h1>
    </div>
    <div class="px-5">
      <div class="px-5">
        <h2 class="text-center">LOGIN</h2><br>
        <form class="row d-flex g-0">
          <div class="col-8">
            <div class="mb-3">
              <label name="email">E-mail</label><br>
              <input type="email" class="border-3 rounded-2">
            </div>
            <div class="mb-3">
              <label name="password">Password</label><br>
              <input type="password" class="border-3 rounded-2">
            </div>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-end ps-3 right-0 pt-2">
            <button type="submit" class="btn btn-success w-100">GO ></button>
          </div>
        </form>
      </div>
      <div>
        <p class="text-center py-3 my-0 pe-4">- Don't have an account ? -</p>
      </div>
      <div class="px-5">
        <button type="signup" class="bn btn-danger w-100 rounded-2">SIGN UP NOW ></button>
      </div>
    </div>
    <div class="py-4 px-4 text-end">
      <a href="/login" class="text-decoration-none"><span id="to-user-login">Non-business user ></span></a>
    </div>
  </div>
</section>