<form id="userSetUpForm">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-8 mt-4">
        <h4 class="setUpTitle">Information</h4><br>
        {{! User full name }}
        <div class="mb-2">
          <label for="userFirstName" class="form-label">First name</label>
          <input type="text" name="fname" class="form-control" id="userFirstName" />
          <label for="userLastName" class="form-label">Last name</label>
          <input type="text" name="lname" class="form-control" id="userLastName" />
        </div>
        {{! User phone, district }}
        <div class="d-flex">
          <div class="mb-2 me-1">
            <label for="userPhone" class="form-label">Phone</label>
            <input type="text" name="phone" class="form-control" id="userPhone" />
          </div>
          <div class="mb-2">
            <label for="userDistrict" class="form-label">District</label>
            <select class="form-select" name="district" id="userDistrict">
              <option selected></option>
              <option value="central-and-western">Central and Western</option>
              <option value="eastern">Eastern</option>
              <option value="southern">Southern</option>
              <option value="waichai">Wai Chai</option>
              <option value="kowloon-city">Kowloon City</option>
              <option value="kwun-tong">Kwun Tong</option>
              <option value="sham-shui-po">Sham Shui Po</option>
              <option value="wong-tai-sin">Wong Tai Sin</option>
              <option value="yau-tsim-mong">Yau Tsim Mong</option>
              <option value="tsuen-wan">Tsuen Wan</option>
              <option value="kwai-tsing">Kwai Tsing</option>
              <option value="sha-tin">Shatin</option>
              <option value="north">North</option>
              <option value="tai-po">Tai Po</option>
              <option value="tuen-mun">Tuen Mun</option>
              <option value="yeun-long">Yuen Long</option>
              <option value="sai-kung">Sai Kung</option>
              <option value="islands">Islands</option>
            </select>
          </div>
        </div>

        {{! User address }}
        <div class="mb-2 me-1">
          <label for="restAddress" class="form-label">Address</label>
          <input type="text" name="address" class="form-control" id="restAddress" />
        </div>

        {{! Submit info form}}
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <a href="/biz/info"><button type="submit" class="mt-2 border-0 rounded btn-userStatus">Go ></button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<br />
<br />