#user-page {
  background-color: #ff6b62;
  min-height: 100vh;
  font-family: "Fredoka One", cursive;
}

#user-login-signup {
  background-color: #ffffff;
  min-height: 60vh;
  max-width: 60vw;
}

#user-logo,
#rest-logo {
  margin-top: -50px;
}

#user-title {
  font-family: "Bungee", cursive;
  color: #ffffff;
  font-size: 80px;
  letter-spacing: -6px;
  -webkit-text-stroke: 6px #ff6b62;
}

h2 {
  font-family: "Bungee", cursive;
  color: #333333;
}

.btn-dark {
  background-color: #ff6b62 !important;
  border: 3px solid #ff6b62 !important;
  height: 60px;
  font-size: 20px;
}

.btn-dark:hover {
  background-color: #ffffff !important;
  border-color: #ff6b62 !important;
  color: #ff6b62 !important;
}

.btn-primary {
  background-color: #ff6b62 !important;
  border: 3px solid #ff6b62 !important;
  height: 105px;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: #ffffff !important;
  border-color: #ff6b62 !important;
  color: #ff6b62 !important;
}

.btn-info {
  background-color: #ffffff !important;
  border: 3px solid #ff6b62 !important;
  height: 105px;
  font-size: 20px;
  color: #ff6b62 !important;
}

.btn-info:hover {
  background-color: #ff6b62 !important;
  border-color: #ff6b62 !important;
  color: #ffffff !important;
}

p,
label {
  font-family: "Fredoka One", cursive;
  color: #555555;
  font-size: 20px;
}

input {
  width: 100%;
  color: #555555;
}

#to-business-login {
  color: #555555;
}

#to-business-login:hover {
  color: #ff6b62;
}

/*********** Rest-side login ************/
#rest-page {
  background-color: #4b8494;
  min-height: 100vh;
  font-family: "Fredoka One", cursive;
}

#rest-login-signup {
  background-color: #ffffff;
  min-height: 40vh;
  max-width: 50vw;
}

#rest-title {
  font-family: "Bungee", cursive;
  color: #ffffff;
  font-size: 80px;
  letter-spacing: -6px;
  -webkit-text-stroke: 6px #4b8494;
}

.btn-success {
  background-color: #ffffff !important;
  border: 3px solid #4b8494 !important;
  height: 105px;
  font-size: 20px;
  color: #4b8494 !important;
}

.btn-success:hover {
  background-color: #4b8494 !important;
  border-color: #4b8494 !important;
  color: #ffffff !important;
}

.btn-danger {
  background-color: #4b8494 !important;
  border: 3px solid #4b8494 !important;
  height: 105px;
  font-size: 20px;
  color: #ffffff !important;
}

.btn-danger:hover {
  background-color: #ffffff !important;
  border-color: #4b8494 !important;
  color: #4b8494 !important;
}

#to-user-login {
  color: #555555;
}

#to-user-login:hover {
  color: #4b8494;
}

.err-msg,
#validation-msg {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ff3333;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
