.restSignUpTitle {
  font-family: "Bungee", cursive;
  color: #ff6b62;
}

.btn-restTag {
  background-color: #ff6b62;
  color: #fff;
  padding: 5px 30px;
}

.btn-restGo {
  background-color: #ff6b62;
  color: #fff;
  padding: 5px 80px;
  border: 2px solid #ff6b62;
}

.btn-restGo:hover {
  background-color: #fff;
  color: #ff6b62;
}