/* Restaurant information
---------------------------------------------- */
.restProfilePic {
  width: 300px;
  height: 200px;
}
.restInfoTitle {
  font-family: "Bungee", cursive;
  color: #4b8494;
}

/* Restaurant menu
---------------------------------------------- */
.restMenu h4 {
  font-family: "Bungee", cursive;
  color: #ff6b62;
}

.restMenu table {
  border: 3px solid #ff6b62;
}

.restMenu a {
  color: #ff6b62;
}

/* Each dishes
---------------------------------------------- */
.rest-dishes img {
  width: 290px;
  height: 200px;
}

/* Edit profile
---------------------------------------------- */
.btn-editProfile {
  font-family: "Bungee", cursive;
  font-size: 1rem;
  background-color: #4b8494;
  color: #fff;
  padding: 8px 15px;
}

.btn-editMenu {
  font-family: "Bungee", cursive;
  font-size: 1rem;
  background-color: #fff;
  color: #4b8494;
  border: 3px solid #4b8494;
  padding: 8px 15px;
}
