/* User information
---------------------------------------------- */
.userInfoTitle {
  font-family: "Bungee", cursive;
  color: #4b8494;
}

.userInfoContent {
  font-size: 1.15rem;
}

.btn-userEditProfile {
  font-family: "Bungee", cursive;
  font-size: 1rem;
  background-color: #ff6b62;
  color: #fff;
  padding: 5px 20px;
}

/* User info button
---------------------------------------------- */
.btn-user {
  font-family: "Bungee", cursive;
  font-size: 1.25rem;
  color: #4b8494;
  border: 5px solid #ff6b62;
}

/* User info - Booking, Order, Bookmark
---------------------------------------------- */
.userBooking,
.userOrder,
.userBookmark {
  border: 5px solid #555;
  margin-top: 2vh;
}

.rest-profile-pic img {
  width: 130px;
  height: 130px;
}

.btn-userStatus,
.btn-userCancel,
.btn-userInfoSubmit {
  font-family: "Bungee", cursive;
  font-size: 1rem;
  background-color: #ff6b62;
  color: #fff;
  padding: 5px 20px;
}

.setUpTitle {
  font-family: "Bungee", cursive;
  font-size: 2rem;
}

/* Delete model & Edit profile model
---------------------------------------------- */
.modal-title {
  font-family: "Bungee", cursive;
  font-size: 1.55rem;
  color: #ff6b62;
}

.btn-userClose {
  font-family: "Bungee", cursive;
  font-size: 1rem;
  background-color: grey;
  color: #fff;
  padding: 5px 20px;
}
