.welcomeTitle h2,
.featuredTitle {
  font-family: "Bungee", cursive;
  color: #ff6b62;
}

.welcomeTitle p {
  font-size: 1.15rem;
}

.userSearch {
  width: 35vw;
  border: 1px solid #4b8494;
}

.btn-userSearch {
  background-color: #4b8494;
  color: #fff;
  font-size: 1rem;
  padding: 5px 20px;
}

.userRestCard img {
  width: 350px;
  height: 220px;
}

.userRestCardTitle {
  font-family: "Bungee", cursive;
  color: #ff6b62;
  font-size: 1.25rem;
}

.userRestCard p {
  color: #4b8494;
}

.tags {
  background-color: #4b8494;
  padding: 8px 20px;
}

.tags a {
  font-size: 0.75rem;
  color: #fff;
  text-decoration: none;
}
